:root {
    --primary-color: #3498db; /* Azul */
    --secondary-color: #e74c3c; /* Vermelho */
    --tertiary-color: #2ecc71; /* Verde */
}

/* Aplicando estilos gerais */
body {
    font-family: Arial, sans-serif; /* Fonte padrão */
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color); /* Azul */
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Verdana', sans-serif; /* Fonte para links */
}

nav ul li a:hover {
    text-decoration: underline;
    color: var(--secondary-color); /* Vermelho ao passar o mouse */
}

main {
    text-align: center;
    margin: 20px;
}

.flag {
    max-width: 100%;
    height: auto;
    border: 5px solid var(--tertiary-color); /* Verde para bordas das bandeiras */
}

h1 {
    font-family: 'Times New Roman', serif; /* Fonte para títulos */
    color: var(--primary-color); /* Azul */
}

p {
    font-family: 'Courier New', monospace; /* Fonte para parágrafos */
    color: var(--secondary-color); /* Vermelho */
}

footer {
    background-color: var(--primary-color); /* Azul */
    color: white;
    text-align: center;
    padding: 10px;