:root {
    --primary-color: #3498db; 
    --secondary-color: #e74c3c; 
    --tertiary-color: #2ecc71;
}


body {
    font-family: Arial, sans-serif; 
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color); 
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Verdana', sans-serif; 
}

nav ul li a:hover {
    text-decoration: underline;
    color: var(--secondary-color);
}

main {
    text-align: center;
    margin: 20px;
}

.flag {
    max-width: 60%; 
    height: auto; 
    border: 5px solid var(--tertiary-color);
    margin: 20px auto; 
    display: block; 
}
h1 {
    font-family: 'Times New Roman', serif; 
    color: var(--primary-color); }
p {
    font-family: 'Courier New', monospace;
    color: var(--secondary-color);
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 10px;
}

img.map {
    max-width: 80%; /* Largura máxima dos mapas */
    height: auto; /* Mantém a proporção da imagem */
    border: 2px solid #aaa; /* Borda ligeiramente mais espessa e clara para mapas */
    border-radius: 6px; /* Bordas arredondadas mais acentuadas */
    margin: 20px auto; /* Margem superior e inferior para separar mapas do texto */
    display: block; /* Garante que a imagem seja exibida como um bloco centralizado */
}